$primary-dark-color: rgb(29, 53, 87);
$primary-light-color: rgb(80, 179, 145);
$link-color: rgb(34, 146, 164);
$primary-black: rgb(35, 37, 40);

.navbar {
    background-color: $primary-dark-color;
    a, h1 {
        color: white
    }
    h1 {
        margin-bottom: 0 !important;
    }
    a:hover {
        color: $link-color 
    }
}

.navbar-start {
    background-color: $primary-dark-color;
}
.navbar-menu {
    padding: 0
}

.navbar-end {
    background-color: $primary-dark-color;
    padding: 0;
}

.button.is-primary {
    background-color: $primary-light-color;
    :hover {
        background-color: darken( $primary-light-color, 20% );
        color: black;
    }
}

a {
    color: $link-color
}


.main-table {
    @extend .table;
    @extend .is-striped;
    @extend .is-hoverable;
    @extend .is-fullwidth;
}

.page-title {
    @extend .title;
    @extend .is-size-2;
}