/*
    Primary colours
*/
$primary-dark: rgb(29, 53, 87);
$primary-light: rgb(80, 179, 145);
$link-color: rgb(34, 146, 164);

/*
    Bulma overrides
*/

$navbar-padding-horizontal: 1.5rem;
$navbar-padding-vertical: 0rem;
$navbar-background-color: $primary-dark;
$navbar-item-color: white;
$navbar-item-active-background-color : white;
$navbar-item-active-color: $link-color;
$navbar-burger-color: white;
$navbar-item-hover-color: $link-color;

$primary: white;
$link: $link-color;
$info: $link-color;

@import 'bulma/bulma';

.navbar {
    h1 {
        margin-bottom: 0 !important;
    }
}

.page-title {
    @extend .title;
    @extend .is-size-2;
}

.main-table {
    @extend .table;
    @extend .is-striped;
    @extend .is-hoverable;
    @extend .is-fullwidth;
}

.has-vertical-padding-1 {
    padding-top: .25em;
    padding-bottom: .25em;
}