<h1 class="title is-size-1 ">Current Products</h1>
<div class="table-container">

<table class="table is-striped is-hoverable">
<tr>
    <th>Name</th>
    <th>Variant</th>
    <th>In Stock</th>
    <th>Price</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.variant_name %></td>
      <td><%= render 'stock_status', :@product => product %></td>
      <td><%= render 'price', :@product => product %></td>
    </tr>
  <% end %>
</table>

</div>