<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Stockie</strong> by <a href="https://github.com/briscoooe">Brian Briscoe</a>
        </p>
    </div>
</footer>
